body {
  font-family: $font-stack-system;
  background-color: $color-background;
  @include color-text($color-background);
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1680px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
