body {
  font-family: $font-stack-system;
  background-color: $color-background;
  color: $color-text-light;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  max-width: 1048px;
  width: 100%;
  flex-grow: 1;
}
