$color-background: #c2ceff;
$color-background-secondary: #d6deff;
$color-accent: #f49f0a;
$color-primary-light: #5c7aff;
$color-primary: #3547ac;
$color-primary-dark: #04074e;
$color-text-light: #ffffff;
$color-text-dark: $color-primary-dark;

$color-background-error: #d80032;
$color-background-warning: #fac05e;
$color-background-sucess: #6cd65c;
$color-background-info: #5c7aff;

$top-margin: 5px;
