$color-background: #f5f1ed;
$color-background-secondary: #fff;
$color-accent: #f49f0a;
$color-primary-light: #e37764;
$color-primary: #d64933;
$color-primary-dark: #561b10;
$color-text-light: #ffffff;
$color-text-dark: #561b10;
$color-text-error: #f49f0a;

$top-margin: 5px;
