$color-background: #eeeeee;
$color-background-secondary: #fff;
$color-accent: #f49f0a;
$color-primary-light: #bfbfbf;
$color-primary: #404040;
$color-primary-dark: #191919;
$color-text-light: #ffffff;
$color-text-dark: $color-primary-dark;

$color-background-error: #d80032;
$color-background-warning: #fac05e;
$color-background-sucess: #6cd65c;
$color-background-info: #5c7aff;

$top-margin: 5px;
